<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeTrunfo - Partida</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="menu-page">
    <div class="sidebar">
        <img src="{{ url_for('static', filename='poketrunfo-logo.webp') }}" alt="Logo do Jogo" class="game-logo">
        <h3 class="nome-jogador">{{ nome }}</h3>
        <form action="{{ url_for('menu') }}" method="GET">
            <button type="submit">Menu</button>
        </form>
        <form action="{{ url_for('sair') }}" method="GET">
            <button type="submit">Sair do Jogo</button>
        </form>
    </div>
    <div class="content">
        <h2 class="title">Pokémon da CPU - Rodada {{ id_rodada }}</h2>
        <div class="pokemon-container">
            {% for pokemon in pkm_cpu %}
            <div 
                style="{% if pokemon['usado'] == 1 %}background-color: #f9f9f94e;{% endif %}"
            class="pokemon-card">
                <img src="{{ url_for('static', filename='images/999.png') }}" alt="Pokémon" width="100">
            </div>
            {% endfor %}
        </div>

        <h2 class="title">Pokémon do Jogador</h2>
        <div class="pokemon-container">
            {% for pokemon in pkm_player %}
            <div 
                style="{% if pokemon['usado'] == 1 %}background-color: #f9f9f94e;{% endif %}"
            class="pokemon-card">
                <img src="{{ url_for('static', filename='images/' ~ pokemon['id'] ~ '.png') }}" alt="Pokémon" width="100">
                <p><strong>PV:</strong> {{ pokemon['hp'] }}</p>
                <p><strong>Ataque:</strong> {{ pokemon['atk'] }}</p>
                <p><strong>Ataque Especial:</strong> {{ pokemon['spAtk'] }}</p>
                <p><strong>Defesa:</strong> {{ pokemon['def'] }}</p>
                <p><strong>Defesa Especial:</strong> {{ pokemon['spDef'] }}</p>
                <p><strong>Velocidade:</strong> {{ pokemon['speed'] }}</p>
                
                {% if atributo %}
                <p style="color: red; font-weight: bold;">
                    A CPU escolheu o atributo: {{ atributo }}
                </p>
                {% endif %}

                <form action="{{ url_for('resultado_rodada') }}" method="POST">
                    <input type="hidden" name="pokemon_id" value="{{ pokemon['id'] }}">
                    {% if atributo_disabled%}
                    <input type="hidden" name="atributo" value="cpu">
                    {% else %}
                    <select name="atributo" required {% if atributo_disabled or pokemon['usado'] == 1%}disabled{% endif %}>
                        <option value="" selected disabled>Selecione</option>
                        <option value="hp">PV</option>
                        <option value="atk">Ataque</option>
                        <option value="spAtk">Ataque Especial</option>
                        <option value="def">Defesa</option>
                        <option value="spDef">Defesa Especial</option>
                        <option value="speed">Velocidade</option>
                    </select>
                    {% endif %}
                    <button 
                        style="{% if pokemon['usado'] == 1 %}background-color: #ff002b98;{% endif %}" 
                        type="submit" 
                        {% if pokemon['usado'] == 1 %}disabled{% endif %}>
                        Selecionar Pokémon
                    </button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
